

/* STARTING APP */

.main-container {
    flex-direction: column;
    padding-bottom: 1em;
}

.add-item-container {
    display: flex;
    align-self: center;
    padding-top: 3em;
    padding-right: 3em;

}


.table-container {
    display: flex;
    align-self: center;
    padding-top: 0.5em;
}

.table-form {
    margin-bottom: 0px !important;
    float:right;
}

td, th {
    border: 1px solid rgb(78, 78, 78);
    padding: 13px;
}

