<html>
    <head>
        <title>Souverniers accounting</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/nav.scss">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      </head>
    <body style="overflow-x: hidden;">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
                <a class="navbar-brand" href="/">Souvenir Inventory</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item <% if (home == '1') { %> active <% } else { %>  <% } %>">
                      <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item <% if (home == '0') { %> active <% } else { %>  <% } %>">
                      <a class="nav-link" href="/add"> <% if (edit == '0') { %> Add <% } else { %> Edit <% } %> </a>
                    </li>
                  </ul>

                  <% if (home == '1') { %>
                  <form class="form-inline my-2 my-lg-0 mr-md-3" action = "/search" method="post">
                    <input class="form-control mr-sm-2" type="search"  placeholder="Name.." name = "searchedName" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Search</button>
                  </form>
                  <% } %>
                </div>
              </nav>
        </div>